<h1><%= @shelter.name%></h1><br/>
<%= "Address: #{@shelter.address}" %>
<%= "City: #{@shelter.city}" %><br/>
<%= "State: #{@shelter.state}" %><br/>
<%= "Zip: #{@shelter.zip}" %><br/>

<%= link_to "Back", "/shelters" %> 
